body {
  font-family: "Roboto", sans-serif;
}

/************************ Desktop ************************/
@keyframes cards {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  30% {
    opacity: 0.5;
  }
  65% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
.main__img {
  height: 17.2rem;
  object-fit: cover;
  position: absolute;
  top: 3.94rem;
  width: 100%;
  z-index: -1;
}
@media (min-width: 768px) and (max-width: 1023.99px) {
  .main__img {
    height: 20rem;
  }
}
@media (min-width: 1024px) {
  .main__img {
    height: 24rem;
  }
}

.menu {
  background: #F7F7F7;
  border-top-left-radius: 1.56rem;
  border-top-right-radius: 1.56rem;
  box-sizing: border-box;
  margin-top: 13.75rem;
  overflow: hidden;
  padding: 1.5rem 1.07rem;
  text-align: center;
  width: 100%;
  z-index: 0;
}
@media (min-width: 768px) and (max-width: 1023.99px) {
  .menu {
    margin-left: 7%;
    margin-top: 16rem;
    width: 85%;
  }
}
@media (min-width: 1024px) {
  .menu {
    margin-left: 9%;
    margin-top: 21rem;
    width: 82%;
  }
}
.menu__title {
  font-family: "Shrikhand", sans-serif;
  font-style: italic;
  font-weight: 400;
  display: grid;
  grid-template-columns: auto auto;
  margin-left: -0.5rem;
}
@media (min-width: 768px) and (max-width: 1023.99px) {
  .menu__title {
    font-size: 20px;
  }
}
@media (min-width: 1024px) {
  .menu__title {
    font-size: 28px;
    margin-left: 6rem;
    margin-top: 1.7rem;
    width: 100%;
  }
}
.menu__title-icon {
  cursor: pointer;
  font-size: 1.5rem;
  justify-self: end;
  margin-right: 1.2rem;
  margin-top: 0.32rem;
  position: relative;
}
@media (min-width: 768px) and (max-width: 1023.99px) {
  .menu__title-icon {
    margin-right: 4.5rem;
  }
}
@media (min-width: 1024px) {
  .menu__title-icon {
    font-size: 2rem;
    justify-self: center;
    margin-right: 13rem;
  }
}
.menu__card {
  display: grid;
  grid-template-columns: 1fr;
}
@media (min-width: 768px) and (max-width: 1023.99px) {
  .menu__card {
    margin-left: 10%;
    margin-right: 10%;
  }
}
@media (min-width: 1024px) {
  .menu__card {
    margin-left: 20%;
    margin-right: 20%;
  }
}
.menu__card-subtitle {
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  text-transform: uppercase;
  border-bottom: 3px solid #99E2D0;
  margin-top: 2.5rem;
  padding-bottom: 0.32rem;
  width: 2.375rem;
}
.menu__card-container {
  animation: cards 0.5s 1 both;
  background: white;
  border-radius: 0.9402rem;
  box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  display: flex;
  height: 4.3125rem;
  margin-top: 1rem;
  overflow: hidden;
  padding: 0.75rem;
  text-align: start;
  max-width: 100%;
}
.menu__card-container:nth-child(1) {
  animation-delay: 0.15s;
}
.menu__card-container:nth-child(2) {
  animation-delay: 0.3s;
}
.menu__card-container:nth-child(3) {
  animation-delay: 0.45s;
}
.menu__card-container:nth-child(4) {
  animation-delay: 0.6s;
}
.menu__card-container:nth-child(5) {
  animation-delay: 0.75s;
}
.menu__card-container:active .menu__card-container-check {
  margin-right: -12px;
}
.menu__card-container:active .menu__card-container-check-icon {
  transform: rotate(0deg);
}
@media (min-width: 1024px) {
  .menu__card-container:hover .menu__card-container-check {
    margin-right: -12px;
  }
  .menu__card-container:hover .menu__card-container-check-icon {
    transform: rotate(0deg);
  }
}
.menu__card-container-info {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 95%;
}
.menu__card-container-info h3 {
  font-style: normal;
  font-size: 18px;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu__card-container-info p {
  font-style: normal;
  font-weight: 300;
  font-size: 15.0431px;
  margin-top: 0.3125rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu__card-container-price {
  align-self: flex-end;
  display: flex;
  justify-content: flex-end;
  padding-left: 0.5rem;
  margin-right: -4.2rem;
}
.menu__card-container-check {
  align-items: center;
  background-color: #99E2D0;
  border-radius: 0 0.9402rem 0.9402rem 0;
  display: flex;
  height: 4.3125rem;
  margin-left: 5.3rem;
  margin-top: -0.76rem;
  margin-right: -5.3rem;
  justify-content: center;
  width: 4.5rem;
}
@media (min-width: 1024px) {
  .menu__card-container-check {
    margin-left: 5.3rem;
    margin-right: -5.3rem;
  }
}
.menu__card-container-check-icon {
  color: white;
  font-size: 1.5rem;
  transform: rotate(360deg);
  transition: transform 0.5s linear;
}
@media (min-width: 1024px) {
  .menu__card-container-check-icon {
    font-size: 2rem;
  }
}
.menu__button {
  margin-bottom: 2.5rem;
  margin-top: 2.5rem;
  width: 52%;
}
@media (min-width: 768px) and (max-width: 1023.99px) {
  .menu__button {
    width: 35%;
  }
}
@media (min-width: 1024px) {
  .menu__button {
    width: 25%;
  }
}

/*# sourceMappingURL=menu_page.css.map */
