body {
  font-family: "Roboto", sans-serif;
}

/************************ Desktop ************************/
.desktop2 {
  font-weight: 300;
}

.main__img {
  height: 17.2rem;
  object-fit: cover;
  position: absolute;
  top: 3.94rem;
  width: 100%;
  z-index: -1;
}
@media (min-width: 768px) and (max-width: 1023.99px) {
  .main__img {
    height: 20rem;
  }
}
@media (min-width: 1024px) and (max-width: 1440px) {
  .main__img {
    height: 24rem;
  }
}
@media (min-width: 1440px) {
  .main__img {
    height: 26rem;
  }
}

.menu {
  background: #F7F7F7;
  border-top-left-radius: 1.56rem;
  border-top-right-radius: 1.56rem;
  box-sizing: border-box;
  margin-top: 13.75rem;
  overflow: hidden;
  padding: 1.5rem 0.8125rem;
  text-align: center;
  width: 100%;
  z-index: 0;
}
@media (min-width: 768px) and (max-width: 1023.99px) {
  .menu {
    margin-left: 7%;
    margin-top: 16rem;
    width: 85%;
  }
}
@media (min-width: 1024px) and (max-width: 1440px) {
  .menu {
    margin-left: 9%;
    margin-top: 21rem;
    width: 82%;
  }
}
@media (min-width: 1440px) {
  .menu {
    margin-left: 10%;
    margin-top: 22rem;
    width: 80%;
  }
}
.menu__description {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
@media (min-width: 768px) and (max-width: 1023.99px) {
  .menu__description {
    margin-left: 10%;
  }
}
@media (min-width: 1024px) and (max-width: 1440px) {
  .menu__description {
    margin-left: 30%;
    width: 50%;
  }
}
@media (min-width: 1440px) {
  .menu__description {
    margin-left: 35%;
    width: 40%;
  }
}
.menu__description-title {
  font-family: "Shrikhand", sans-serif;
  font-size: 28px;
  font-weight: 400;
}
.menu__description-icon {
  margin-right: 3%;
  margin-top: 8px;
  position: relative;
}
@media (min-width: 768px) and (max-width: 1023.99px) {
  .menu__description-icon {
    margin-right: 22%;
  }
}
@media (min-width: 1024px) and (max-width: 1440px) {
  .menu__description-icon {
    margin-right: 18%;
  }
}
@media (min-width: 1440px) {
  .menu__description-icon {
    margin-right: 25%;
  }
}
.menu__card {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
}
@media (min-width: 768px) and (max-width: 1023.99px) {
  .menu__card {
    margin-left: 10%;
    margin-right: 10%;
  }
}
@media (min-width: 1024px) and (max-width: 1440px) {
  .menu__card {
    margin-left: 20%;
    margin-right: 20%;
  }
}
@media (min-width: 1440px) {
  .menu__card {
    margin-left: 15%;
    margin-right: 15%;
  }
}
.menu__card-subtitle {
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  text-transform: uppercase;
  border-bottom: 3px solid #99E2D0;
  margin-top: 2.5rem;
  padding-bottom: 0.32rem;
  width: 2.375rem;
}
.menu__card label {
  animation: cards 0.5s 1.8s both;
  border-radius: 15px;
  overflow: hidden;
  padding: 5px;
}
.menu__card label:nth-child(1) {
  animation-delay: 0.2s;
}
.menu__card label:nth-child(2) {
  animation-delay: 0.4s;
}
.menu__card label:nth-child(3) {
  animation-delay: 0.6s;
}
.menu__card label:nth-child(4) {
  animation-delay: 0.8s;
}
.menu__card label:nth-child(5) {
  animation-delay: 1s;
}
.menu__card label:nth-child(6) {
  animation-delay: 1.2s;
}
.menu__card label:nth-child(7) {
  animation-delay: 1.4s;
}
.menu__card-container {
  align-items: end;
  background: white;
  border-radius: 0.9402rem;
  box-shadow: 0px 5px 16px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  display: flex;
  height: 4.3225rem;
  justify-content: space-between;
  margin-top: 1rem;
  overflow: hidden;
  padding: 12px 9px;
  text-align: start;
  width: 100%;
}
.menu__card-container-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
.menu__card-container-info-title {
  font-style: normal;
  font-size: 18px;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu__card-container-info-desc {
  font-style: normal;
  font-weight: 300;
  font-size: 15.0431px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu__card-container-price {
  display: flex;
  justify-content: flex-end;
  padding-right: 0.8rem;
}
.menu__card-container-check {
  align-items: center;
  background-color: #99E2D0;
  border-radius: 0 0.9402rem 0.9402rem 0;
  display: flex;
  height: 4.3125rem;
  justify-content: center;
  margin-bottom: -0.75rem;
  margin-left: -0.25rem;
  margin-right: -1.1rem;
  min-width: 0px;
  opacity: 0;
  transition: min-width 0.5s, opacity 0.3s;
}
.menu__card-container-check .fa-circle-check {
  color: white;
  font-size: 1.5rem;
  margin-left: -0.6rem;
}
@media (min-width: 768px) and (max-width: 1023.99px) {
  .menu__card-container {
    width: 80%;
  }
}
@media (min-width: 1024px) and (max-width: 1440px) {
  .menu__card-container {
    width: 65%;
  }
}
@media (min-width: 1440px) {
  .menu__card-container {
    width: 70%;
  }
}
.menu__button {
  margin-bottom: 2.5rem;
  margin-top: 2.5rem;
  width: 52%;
}
@media (min-width: 768px) and (max-width: 1023.99px) {
  .menu__button {
    width: 35%;
  }
}
@media (min-width: 1024px) and (max-width: 1440px) {
  .menu__button {
    width: 25%;
  }
}
@media (min-width: 1440px) {
  .menu__button {
    width: 22%;
  }
}

.checkcard:checked + label .menu__card-container-check {
  min-width: 4rem;
  opacity: 1;
  transform: scaleX(1);
}

@keyframes cards {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  30% {
    opacity: 0.5;
  }
  65% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

/*# sourceMappingURL=menu_page.css.map */
