.description {background: $color-description-bg;
              padding: 2.469rem 0 3.563rem 0;
              text-align: center;
              width: 100%;

              &__info {padding: 1.7rem;}

              @include desktop {&__title {@include description__title;}

                                &__info {padding: 2rem;}
                               }

              @include largeDesktop {&__title {@include description__title;}

                                     &__info {padding: 2rem;}
                                    }
             }