.footer {background: $color-footer-bg;
         color: $color-txt-white;
         padding: 1.375rem 1.563rem;

         &__title {
            @include footer__title;
            padding-bottom: 1rem;
         }
         &__link {
            padding-bottom: 0.44rem;
            & a {
                color: $color-txt-white;
            }
         }
}