.function {height: auto;
           overflow: hidden;
           padding: 3rem 1.25rem;
           width: 100%;

           @include tablet {text-align: center;}

           @include desktop {text-align: center;
      
                             &__title {margin-left: 11rem;
                                       text-align: start;
                                       width: 100%;
                                      }
                            }

            @include largeDesktop {text-align: center;

                              &__title {margin-left: 11rem;
                                        text-align: start;
                                        width: 100%;
                                       }
                              }

           &__steps {display: grid;
                     grid-template-columns: 1fr;

                     @include desktop {grid-template-columns: 1fr 1fr 1fr;
                                       margin-left: 10.5rem;
                                       margin-right: 6.5rem;
                                       padding: 1rem;
                                      }

                     @include largeDesktop {grid-template-columns: 1fr 1fr 1fr;
                                            margin-left: 10.5rem;
                                            margin-right: 6.5rem;
                                            padding: 1rem;
                                           }

                     &-element {background: $color-function-steps-element;
                                border-radius: 20px;
                                box-shadow: $shadow-function-steps-element;
                                margin-top: 1.625rem;
                                padding: 1.563rem;
                                width: 100%;

                                @include tablet {justify-self: center;
                                                 width: 90%;
                                                }

                                @include desktop {width:85%;}

                                @include largeDesktop {width:85%;}

                                &-number {background: $color-primary;
                                          border-radius: 100%;
                                          color: $color-txt-white;
                                          margin-left: -2.4rem;
                                          margin-top: -1.4rem;
                                          padding: 0.3rem 0.6rem;
                                          position: absolute;
                                          text-align: center;
                                         }

                                .fas {color: $color-icon-steps;
                                      padding: 0 1.3rem;
                                     }

                                &:hover {
                                         .fas {color: $color-primary;}
                                        }          
                               }
                    }
          }