.function {padding: 3rem 1.25rem;
           width: 100%;

           @include desktop {text-align: center;
      
                             &__title {margin-left: 11rem;
                                       text-align: start;
                                       width: 100%;
                                      }
                            }

           &__steps {counter-reset: compteur;
                     display: grid;
                     grid-template-columns: 1fr;
                     padding-left: 0.85rem;

                     @include desktop {grid-template-columns: auto auto auto;
                                       margin-left: 10.5rem;
                                       margin-right: 2rem;
                                       
                                      }

                     &-element {background: $color-function-steps-element;
                                border-radius: 20px;
                                box-shadow: $shadow-function-steps-element;
                                counter-increment: compteur;
                                margin-top: 1.625rem;
                                padding: 1.563rem;
                                width: 100%;

                                @include desktop {width: 74%;}

                                .fas {color: $color-icon-steps;
                                      padding: 0 1.3rem;
                                     }

                                &::before {background: $color-primary;
                                           border-radius: 100%;
                                           color: $color-txt-white;
                                           content: " " counter(compteur);
                                           margin-left: -2.4rem;
                                           padding: 0.3rem 0.6rem;

                                           @include desktop {margin-left: -4.2rem;
                                                             position: relative;
                                                            }
                                          }

                                &:hover {
                                         .fas {color: $color-primary;}
                                        }          
                               }
                    }
          }