.menu {background: $color-menu;
       border-top-left-radius: 1.56rem;
       border-top-right-radius: 1.56rem;
       box-sizing: border-box;
       margin-top: 13.75rem;
       overflow: hidden;
       padding: 1.5rem 0.8125rem;
       text-align: center;
       width: 100%;
       z-index: 0;
       @include tablet {margin-left: 7%;
                        margin-top: 16rem;
                        width: 85%;
                       }

       @include desktop {margin-left: 9%;
                         margin-top: 21rem;
                         width: 82%;
                        }

        @include largeDesktop {margin-left: 10%;
                               margin-top: 22rem;
                               width: 80%; 
                              }

       &__description {display: flex;
                       justify-content: space-between;
                       width: 100%;

                       @include tablet {margin-left: 10%;} 

                       @include desktop {margin-left: 30%;
                                         width: 50%;
                                        }
                        
                       @include largeDesktop {margin-left: 35%;
                                              width: 40%;
                                             }

                       &-title {@include menu__title;}

                       &-icon {margin-right: 3%;
                               margin-top: 8px;
                               position: relative;

                               @include tablet {margin-right: 22%;}

                               @include desktop {margin-right: 18%;}

                               @include largeDesktop {margin-right: 25%}
                              }
                      }

       &__card {display: grid;
                grid-template-columns: 1fr;
                width: 100%;

                @include tablet {margin-left: 10%;
                                 margin-right: 10%;
                                }

                @include desktop {margin-left: 20%;
                                  margin-right: 20%;
                                 }

                @include largeDesktop {margin-left: 15%;
                                       margin-right: 15%; 
                                      }

                &-subtitle {@include menu__subtitle;
                            border-bottom: 3px solid $color-tertiary;
                            margin-top: 2.5rem;
                            padding-bottom: 0.32rem;
                            width: 2.375rem;
                           }        

                & label {animation: cards 0.5s 1.8s both;
                         @for $i from 1 through 7 {
                                                  &:nth-child(#{$i}) {animation-delay:$i*0.20s;}
                                                  } 
                         border-radius: 15px;                                                                                                                
                         overflow: hidden;
                         padding: 5px;
                        }           

                &-container {@include card-menu;

                             &-info {overflow: hidden;
                                     text-overflow: ellipsis;
                                     white-space: nowrap; 
                                     width: 100%;
                                     
                                     & h3 {@include menu__info-h3;
                                           overflow: hidden;
                                           text-overflow: ellipsis;
                                           white-space: nowrap;
                                          }

                                     & p {@include menu__info-p;
                                          overflow: hidden; 
                                          text-overflow: ellipsis;
                                          white-space: nowrap;
                                         }
                                    } 

                             &-price {display: flex;
                                      justify-content: flex-end;
                                      padding-right: .8rem;
                                     }         
                               
                             &-check {align-items: center;
                                      background-color: $color-tertiary;
                                      border-radius: 0 0.9402rem 0.9402rem 0;  
                                      display: flex;
                                      height: 4.3125rem;
                                      justify-content: center;
                                      margin-bottom: -.75rem;
                                      margin-left: -.25rem;
                                      margin-right: -1.1rem;
                                      min-width: 0px;
                                      opacity: 0;
                                      transition: min-width 0.5s, opacity 0.3s;

                                      .fa-circle-check {color: white;
                                                        font-size: 1.5rem;
                                                        margin-left: -.6rem;
                                                       }

                                     }       

                             @include tablet {width: 80%;}

                             @include desktop {width: 65%;}

                             @include largeDesktop {width: 70%;}
                            }
               } 

        &__button {margin-bottom: 2.5rem;
                   margin-top: 2.5rem;
                   width: 52%;

                   @include tablet {width: 35%;}

                   @include desktop {width: 25%;}

                   @include largeDesktop {width: 22%;}
                  }   

       }
      
.checkcard:checked + label .menu__card-container-check {min-width: 4rem;
                                                        opacity: 1;
                                                        transform: scaleX(1);
                                                       }


@keyframes cards {0% {opacity:0;
                      transform: translateY(20px);
                     }

                  30% {opacity: 0.5;}

                  65% {opacity: 0.7;}

                  100% {opacity:1;}
                 }