.menu {background: $color-menu;
       border-top-left-radius: 1.56rem;
       border-top-right-radius: 1.56rem;
       box-sizing: border-box;
       margin-top: 13.75rem;
       overflow: hidden;
       padding: 1.5rem 1.07rem;
       text-align: center;
       width: 100%;
       z-index: 0;

       @include desktop {margin-left: 9rem;
                         margin-top: 21rem;
                         width: 82%;
                        }

       &__title {@include menu__title;
                 display: grid;
                 grid-template-columns: auto auto;
                 margin-left: -1rem;

                 @include desktop {@include menu__title-desktop;
                                   margin-left: 6rem;
                                   margin-top: 1.7rem;
                                   width: 100%;
                                  }

                 &-icon {cursor: pointer;
                         font-size: 1.5rem;
                         justify-self: end;
                         margin-right: 1.3rem;
                         margin-top: 0.32rem;
                         position: relative;

                         @include desktop {font-size: 2rem;
                                           justify-self: center;
                                           margin-right: 13rem;
                                          }
                        }
                }

       &__card {display: grid;
                grid-template-columns: 1fr;

                @include desktop {margin-left: 20%;
                                  margin-right: 20%;
                                 }

                &-subtitle {@include menu__subtitle;
                            border-bottom: 3px solid $color-tertiary;
                            margin-top: 2.5rem;
                            padding-bottom: 0.32rem;
                            width: 2.375rem;
                           }
              
                &-container {@include card-menu;
                             &-info {display: flex;
                                     flex-direction: column;
                                     overflow: hidden;
                                     text-overflow: ellipsis;
                                     white-space: nowrap;
                                     width: 95%;
                                    }  
                                    
                             &-info h3 {@include menu__info-h3;
                                        overflow: hidden;
                                        text-overflow: ellipsis;
                                        white-space: nowrap;
                                       }

                             &-info p {@include menu__info-p;
                                       margin-top: 0.3125rem; 
                                       overflow: hidden;
                                       text-overflow: ellipsis;
                                       white-space: nowrap;
                                      }
                               
                             &-price {align-self: flex-end;
                                      display: flex;
                                      justify-content: flex-end;
                                      padding-left: .5rem;
                                      margin-right: -4.2rem;
                                     }
                                       
                             &-check {align-items: center;
                                      background-color: $color-tertiary;
                                      border-radius: 0 0.9402rem 0.9402rem 0;
                                      display: flex;
                                      height: 4.3125rem;
                                      margin-left: 5.3rem;
                                      margin-top: -0.76rem; 
                                      margin-right: -5.3rem;  
                                      justify-content: center;
                                      width: 4.5rem;

                                      @include desktop {margin-left: 5.3rem;
                                                        margin-right: -5.3rem;
                                                       }
                                                      
                                      &-icon {color: white;
                                              font-size: 1.5rem; 
                                              transform: rotate(360deg);
                                              transition: transform 0.5s linear; 

                                              @include desktop {font-size: 2rem;}
                                             }     
                                     }
                            }
               } 

        &__button {margin-bottom: 2.5rem;
                   margin-top: 2.5rem;
                   width: 52%;

                   @include desktop {width: 25%;}
                  }   

       }