.restaurants {background: $color-restaurants-bg;
              padding: 3.3rem 1.25rem;
              width: 100%;

              @include desktop {&__title {margin-left: 11.25rem;}

                                &__desktop {display: grid;
                                            grid-template-columns: 1fr 1fr;
                                            margin-left: 10.98rem;
                                            margin-right: 2rem;
                                           }
                               }

              &__cards {@include cards_restaurants;

                        &-img {border-radius: 15px 15px 0 0;
                               height: 11rem;
                               object-fit: cover;
                               width: 100%;
                              }
                        
                        &-new {@include new_restaurants;}

                        &-contents {display: grid;
                                    grid-template-columns: 2fr 1fr;
                                    height: 4.8rem;
                                    width: 100%;

                                    &-txt {gap: 5px;
                                           padding: 0.8rem;
                                          }

                                    &-icon {@include icon-restaurants;}
                                   }
                       }
             }