@mixin cards_restaurants {background: $color-restaurants-cards;
                          border-radius: 15px;  
                          cursor: pointer;       
                          margin-bottom: 1.125rem;
                          margin-top: 1.5rem;
                          width: 100%;

                          @include tablet {margin: 1.25rem 2.9rem;
                            width: 89%;}

                          @include desktop {width: 85%;}

                          @include largeDesktop {width: 80%;}
                         }

@mixin new_restaurants {background: $color-tertiary;
                        border-radius: 2px;
                        box-shadow: $shadow-restaurants-badge;
                        color: #008766;
                        margin-left: -6rem;
                        margin-top: 1rem;
                        padding: 0.43rem 0.66rem;
                        position: absolute;
                        width: 5rem;
                       }

