@mixin card-menu {animation: cards 0.5s 1 both;
                  @for $i from 1 through 5 {
                                            &:nth-child(#{$i}) {animation-delay:$i*0.15s;}
                                           }
                  background: $color-menu-container;
                  border-radius: 0.9402rem;
                  box-shadow: $shadow-menu;
                  cursor: pointer;
                  display: flex;
                  height: 4.3125rem;
                  margin-top: 1rem;
                  overflow: hidden;
                  padding: 0.75rem;
                  text-align: start;
                  max-width: 100%;

                  &:active .menu__card-container-check {margin-right: -12px;}

                  &:active .menu__card-container-check-icon {transform: rotate(0deg);}

                  @include desktop {&:hover .menu__card-container-check {margin-right: -12px;}

                                    &:hover .menu__card-container-check-icon {transform: rotate(0deg);}
                                   }
                 }

                 @keyframes cards {0% {opacity:0;
                                       transform: translateY(20px);
                                      }

                                   30% {opacity: 0.5;}

                                   65% {opacity: 0.7;}

                                   100% {opacity:1;}
                                  }