.fa-heart {         
           &:hover {background: $color-heart;
                    background-clip: text;
                    font-weight: bold;
                    transition: all 0.3s linear;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;      
                   }
          }