//---------- Identité Graphique -----//
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

//------------ Background -----------//
$color-research-bg: #EAEAEA;
$color-description-bg: #F6F6F6;

$color-btn-function: #F7F7F7;

$color-restaurants-bg: #F6F6F6;

$color-footer-bg: #353535;
//------------ Shadow --------------//
$shadow-research: inset 0px 2px 4px rgba(0, 0, 0, 0.15);

//----------- Texte ---------------//
$color-txt-white: white;