//------- Padding Page Accueil --------//
$padding-icon: 1.04rem;
$padding-description: 2.469rem 0 3.563rem 0;
$padding-function: 3rem 1.25rem;
$padding-restaurants: 3.375rem 1.25rem;

//---------- Padding Général ---------//
$padding-footer: 1.375rem 1.563rem;