body {font-family: "Roboto", sans-serif;}

@mixin menu__title {font-family: 'Shrikhand', sans-serif;
                    font-size: 28px;                
                    font-weight: 400;
                   }

@mixin menu__subtitle {font-size: 16px;
                       font-style: normal;
                       font-weight: 300;
                       text-transform: uppercase;
                      }

@mixin menu__info-title {font-style: normal;
                         font-size: 18px;
                         font-weight: 500;
                        }

@mixin menu__info-desc {font-style: normal;
                        font-weight: 300;
                        font-size: 15.0431px;
                       }

@mixin footer__title {font-family: 'Shrikhand', sans-serif;                  
                      font-weight: 400;
                      font-size: 18px;
                     }

/************************ Desktop ************************/
@mixin description__title {font-size: 40px;
                           font-style: normal;
                           font-weight: 700;
                          }

.desktop2 {font-weight: 300;}