body {font-family: "Roboto", sans-serif;}

@mixin menu__title {font-family: 'Shrikhand', sans-serif;
                    font-style: italic;
                    font-weight: 400;
                   }

$menu__title-tablet: 20px;                 

$menu__title-desktop: 28px;

@mixin menu__subtitle {font-size: 16px;
                       font-style: normal;
                       font-weight: 300;
                       text-transform: uppercase;
                      }

@mixin menu__info-h3 {font-style: normal;
                      font-size: 18px;
                      font-weight: 500;
                     }

@mixin menu__info-p {font-style: normal;
                     font-weight: 300;
                     font-size: 15.0431px;
                    }

@mixin footer__title {font-family: 'Shrikhand', sans-serif;
                      font-style: italic;
                      font-weight: 400;
                     }

/************************ Desktop ************************/
@mixin description__title {font-size: 40px;
                           font-style: normal;
                           font-weight: 700;
                          }