// Tailles d'écran tablette
$screen-tablet-min: 768px;
$screen-tablet-max: 1023.99px;

//Tailles d'écran pc
$screen-desktop-min: 1024px;
$screen-desktop-max: 1440px;

//Tailles d'écran large
$screen-largeDesktop-min: 1440px;

// Media queries Tablette
@mixin tablet {
    @media (min-width: #{$screen-tablet-min}) and (max-width: #{$screen-tablet-max})
    {
        @content;
    }
}

//Media queries PC
@mixin desktop {
    @media (min-width: #{$screen-desktop-min}) and (max-width: #{$screen-desktop-max})
    {
        @content;
    }
}

//Media queries Large Ecran
@mixin largeDesktop {
    @media (min-width: #{$screen-largeDesktop-min})
    {
        @content;
    }
}
    