.main__img {height: 17.20rem;
            position: absolute;
            top: 3.94rem;
            width: 100%;
            z-index: -1;

            @include desktop {height: 24rem;
                              object-fit: cover;
                             }
           }